<ion-header>
  <ion-navbar>
    <ion-searchbar debounce="1000" (ionInput)="searchTags($event)" value="{{ tags }}"></ion-searchbar>

  </ion-navbar>
</ion-header>

  <ion-content class="card-background-page">

    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-card *ngFor="let post of posts">
      <ion-card-content>
      <img src="{{post.file_url}}" (click)="showFullImg(post.file_url)" *ngIf="thumb == false" />
      <img src="{{post.preview_url}}" (click)="showFullImg(post.file_url)" *ngIf="thumb == true" />
      </ion-card-content>

      <ion-item *ngIf="post.hidden == false">
          Artist <button ion-button item-right (click)="otherTags(post.artist)">{{ post.artist }}</button>
      </ion-item>

      <ion-item *ngIf="post.hidden == false">
          Score <button ion-button outline item-right *ngIf="post.score == 0">{{ post.score }}</button>
        <button ion-button outline color="danger" item-right *ngIf="post.score < 0">{{ post.score }}</button>
        <button ion-button outline color="secondary" item-right *ngIf="post.score > 0">{{ post.score }}</button>
      </ion-item>

        <ion-item *ngIf="post.hidden == false">
          Rating <button ion-button item-right color="secondary" outline *ngIf="post.rating == 's'">SAFE</button>
          <button ion-button item-right outline *ngIf="post.rating == 'q'">QUESTIONABLE</button>
          <button ion-button item-right color="danger" outline *ngIf="post.rating == 'e'">EXPLICIT</button>

        </ion-item>

      <ion-item *ngIf="post.hidden == false">
        Description
      </ion-item>
        <ion-list *ngIf="post.hidden == false">
          {{ post.description }}
        </ion-list>

        <ion-item *ngIf="post.hidden == false">
          Tags
        </ion-item>
        <ion-list *ngIf="post.hidden == false">
          <button ion-button class="tag" *ngFor="let tag of post.tagsOfPost" (click)="otherTags((tag.name))">{{ tag.name }}</button>
        </ion-list>

        <ion-item *ngIf="post.hidden == false">
          <button ion-button clear block>
            <ion-icon name="arrow-dropup" (click)="post.hidden = true"></ion-icon>
          </button>
        </ion-item>

      <ion-item *ngIf="post.hidden == true">
        <button ion-button clear block>
          <ion-icon name="arrow-dropdown" (click)="getTags(post)"></ion-icon>
        </button>
      </ion-item>

    </ion-card>


    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
