<ion-header>
  <ion-navbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Show thumbnails (saves mobile data)</ion-label>
    <ion-toggle [(ngModel)]="thumb" (ionChange)="OnChange('thumb', thumb)" checked="{{ thumb }}" name="thumb"></ion-toggle>
  </ion-item>
<ion-item>
  <ion-label>SFW Mode</ion-label>
    <ion-toggle [(ngModel)]="sfw" (ionChange)="OnChange('sfw', sfw)" checked="{{ sfw }}" name="sfw"></ion-toggle>
  </ion-item>
</ion-content>
